@import "_init";
@import "compass";

.not-front {
  background-color: $auxis-brand-gray-background;

  #content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .main-content {
    background-color: #ffffff;
  }

  footer {
    color: #FFFFFF;
    font-family: $google-font-open-sans;
    background-color: $auxis-brand-red;
    font-size: 90%;
    padding: 10px 0;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;

    .block-title {
      display: none;
    }

    .block {
      margin: 0px;
    }

    ul {
      padding: 0px;
      li {
        display: inline-block;
        list-style: none;
        padding-right: 20px;
      }
    }

    a {
      font-weight: normal;
      text-decoration: none;
      color: #FFFFFF;
    }
  }

  .breadcrumb {
    padding: 10px 0 0 0;
    background-color: #ffffff;
    a {
      font-size: 90%;
      text-decoration: none;
      color: $auxis-brand-teal;
    }
  }

  .title {
    color: #ffffff;
    background-color: $auxis-brand-teal;
    padding: 10px;
    //border-radius: 0 0 4px 4px;
  }

  .dummy_header {
    display: none
  }

  .header {
    margin: 0px;
  }

  .left-col {
    .block-title {
      display: none;
    }
  }

  form.search-form {
    margin: $space-box-normalize 0;

    #edit-basic {
      margin: $space-box-normalize 0;
    }

    .fieldset-legend {
      a {
        font-size: 0.8em;
      }
    }
  }

  h2 {
    margin-bottom: 0px;
  }

  ol.search-results {
    padding: 0px;
    margin: 0px;
    li {
      h3.title {
        background-color: #ffffff;
        margin: 0px;
        padding-left: $space-box-normalize;
      }
      p.search-info {
        display: none;
      }
    }
  }
}