@import "_init";
@import "compass";

body {
  background-color: #ffffff;
  -webkit-text-size-adjust: none;
  color: $auxis-brand-gray-fonts;
  font-family: $google-font-open-sans;

  p, pre {
    margin: 1.5em 0 0 0;
  }
}

.header {
  // Same as above but with a #ccc at the halfway point
  background-color: $auxis-brand-red;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  height: $nav-top-menu-max-height;
}

.hide {
  display: none;
}

.features {
  margin-bottom: 1.5em;
  .block-title {
    display: none;
  }
  .feature {
    margin-bottom: 1.5em;
    img {
      display: none;
    }
    a {
      color: $auxis-brand-gray-fonts;
      font-weight: $auxis-font-weight-bold;
    }
    p {
      margin: 0px;
    }
  }
}

.nav-logo {
  padding: 5px 10px 0px 40px;
  .logo-container {
    color: #ffffff;
    position: relative;
    height: $nav-top-menu-max-height;
    z-index: 50;
    margin-right: 5px;
    font-size: 80%;
    width: 250px;
    img.header__logo-image {
      position: absolute;
      left: 40px;
      top: 13px;
    }

    span {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      
      position: absolute;
      bottom: 12px;
      left: 5px;
    }
  }
}

footer {
  background-color: $auxis-brand-gray-background;
}

.news-info {
  color: #ffffff;
  background-color: $auxis-brand-gray-background;
  padding: 0.2em;
  margin-bottom: 5px;
}

.news-clients {
  border: 2px solid $auxis-brand-gray-background;

  h2 {
    font-size: 90%;
    text-align: center;
    font-weight: $auxis-font-weight-bold;
  }

  .carousel-indicators, .carousel-control {
    display: none;
  }

  .carousel {
    text-align: center;
  }
}

.dkp-menu-wrapper {
  display: none;
}

.mm-menu.mm-ismenu {
    color: #1C201F;
    background-color: $auxis-brand-gray-background;
}

.mm-menu {
  .menu a.active {
    color: #ffffff;
  }
}

.content-details {
  padding: 0 0 10px 0;
  a {
    color: #169588;
    text-decoration: none;
  }

  p {
    margin: 0 0 1.5em 0;
  }
}


#footer-content {
  font-family: $arial;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 90%;

  h2 {
    display: none;
  }

  .level-1 {
    margin-top: 0px;
    margin-bottom: 15px;
    display: inline-block;
    width: 30%;
  }
  .level-1 > a {
    font-weight: $auxis-font-weight-bold;
  }
  .block {
    margin: 0px;
    color: #ffffff;

    ul.menu {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 16px;
      padding: 0px;
      margin: 0px;
      li {
        list-style: none;
        vertical-align: top;
        a {
          color: #ffffff;
          text-decoration: none;
        }
        a:hover {
          color: $auxis-brand-red;
        }
        ul {
          padding: 0px;

          li {
          }
        }
      }
    }
  }
}

.content-news {
  margin-bottom: 1.5em;
}

.content-slider {

  .block-title {
    display: none;
  }

  .carousel.c-fade .item {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  .carousel.c-fade .active.left,
  .carousel.c-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .carousel.c-fade .next,
  .carousel.c-fade .prev {
    left: 0;
    z-index: 1;
  }

  .carousel.c-fade .carousel-control {
    z-index: 3;
  }

  .carousel-indicators, .carousel-control {
    display: none;
  }

  .carousel-caption {
    text-align: left;
    padding: 1%;
    //right: 25%;
    //left: 5%;
    z-index: 0;
    bottom: 10%;
    background-color: $auxis-brand-teal;

    h1 {
      font-size: 100%;
      line-height: 1em;
      padding: 0px;
      margin: 0px;
    }

    h2 {
      font-size: 50%;
      padding: 0px;
      margin: 0px;
      line-height: 1.3em;
    }
  }
}
