.mm-nav,
.mm-nav a,
.mm-nav ul,
.mm-nav li,
.mm-nav div,
.mm-nav nav,
.mm-nav form,
.mm-nav input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.mm-nav a { text-decoration: none; }

.mm-nav li { list-style: none; }

/* Menu Container */
.mm-nav {
  text-align: center;
  display: inline-block;
  position: relative;
  cursor: default;
  z-index: 500;
  height: 50px;
}

/* Menu List */
.mm-nav > li {
  display: block;
  float: left;
  max-width: 120px;
}

/* Menu Links */
.mm-nav > li > a {
  position: relative;
  display: block;
  z-index: 510;
  height: 50px;
  padding: 20px 10px 16px 10px;
  //line-height: 54px;

  //font-family: $google-font-open-sans;
  text-transform: uppercase;
  word-wrap:break-word;
  font-weight: 300;
  font-size: $base-font-size-main-nav;
  color: #fcfcfc;
  text-shadow: 1px 1px 1px #000000;

  //background: #372f2b;
  //border-left: 1px solid #4b4441;
  //border-right: 1px solid #312a27;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.mm-nav > li:hover > a {
  font-weight: 300;
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
  background: #EDF2EA;
}

.mm-nav > li:first-child > a {
  //border-radius: 3px 0 0 3px;
  border-left: none;
}

/* Search Form */
.mm-nav > li.mm-nav-search > form {
  position: relative;
  width: inherit;
  height: 54px;
  z-index: 510;
  border-left: 1px solid #4b4441;
}

.mm-nav > li.mm-nav-search input[type="text"] {
  display: block;
  float: left;
  width: 1px;
  height: 24px;
  padding: 15px 0;
  line-height: 24px;

  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #999999;
  //text-shadow: 0 0 1px rgba(0,0,0,.35);

  background: #372f2b;

  -webkit-transition: all .3s ease 1s;
  -moz-transition: all .3s ease 1s;
  -o-transition: all .3s ease 1s;
  -ms-transition: all .3s ease 1s;
  transition: all .3s ease 1s;
}

.mm-nav > li.mm-nav-search input[type="text"]:focus { color: #fcfcfc; }

.mm-nav > li.mm-nav-search input[type="text"]:focus,
.mm-nav > li.mm-nav-search:hover input[type="text"] {
  width: 110px;
  padding: 15px 20px;

  -webkit-transition: all .3s ease .1s;
  -moz-transition: all .3s ease .1s;
  -o-transition: all .3s ease .1s;
  -ms-transition: all .3s ease .1s;
  transition: all .3s ease .1s;
}

.mm-nav > li.mm-nav-search input[type="submit"] {
  display: block;
  float: left;
  width: 20px;
  height: 54px;
  padding: 0 25px;
  cursor: pointer;

  //background: #372f2b url(../img/search-icon.png) no-repeat center center;

  border-radius: 0 3px 3px 0;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.mm-nav > li.mm-nav-search input[type="submit"]:hover { background-color: #4b4441; }

/* Menu Dropdown */
.mm-nav > li > div {
  text-align: left;
  position: absolute;
  display: block;
  width: 100%;
  top: 86px;
  left: 0;

  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  background: #EDF2EA;
  border-radius: 0 0 5px 5px;

  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

.mm-nav > li:hover > div {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

/* Menu Content Styles */
.mm-nav .mm-nav-column {
  float: left;
  width: 20%;
  padding: 2.5%;
}

.mm-nav {
  .mm-nav-column {
    ul {
      padding-left: 20px;
      li {
        list-style-type: square;
        ul {
          li {
            list-style-type: disc;
          }
        }
      }
    }
  }
}


.mm-nav .mm-nav-column h3 {
  margin: 20px 0 10px 0;
  line-height: 18px;

  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #B70532;
  text-transform: uppercase;
}

.mm-nav .mm-nav-column li a {
  display: block;
  line-height: 26px;

  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
}

.mm-nav .mm-nav-column li a:hover { color: #666666; }