@import "_init";
@import "compass/css3";

/* Mega menu CSS for Auxis Website */

.dkp-menu {

  font-family: $base-font-family;

  /* mega menu list */
  .nav-menu {
    display: block;
    position: relative;
    //list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
  }

  /* a top level navigation item in the mega menu */
  .nav-item {
    //list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  /* first descendant link within a top level navigation item */
  .nav-item > a {
    text-transform: uppercase;
    word-wrap: break-word;
    font-weight: 300;
    color: #fcfcfc;
    text-shadow: 1px 1px 1px #000000;
    height: 45px;
    max-width: 120px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 20px 5px 20px 5px;
    text-align: center;
    vertical-align: top;
    margin: 0 0 -1px 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  /* focus/open states of first descendant link within a top level
     navigation item */
  .nav-item > a:focus,
  .nav-item > a.open,
  .nav-item > a:hover,
  .nav-item > a.active-trail {
    color: #fcfcfc;
    text-shadow: 1px 1px 1px #000000;
    border-left: 2px solid #B70532;
    border-right: 2px solid $auxis-brand-red;
  }

  /* open state of first descendant link within a top level
     navigation item */
  .nav-item > a.open,
  .nav-item > a:hover,
  .nav-item > a.active-trail{
    @include background-image(linear-gradient(left top, #B70532, $auxis-brand-red));
    border-bottom: none;
    z-index: 1;
  }

  /* sub-navigation panel */
  .sub-nav {
    position: absolute;
    display: none;
    top: 86px;
    margin-top: -1px;
    padding: 0.5em 1em;
    border-left: 2px solid #B70532;
    border-right: 2px solid #B70532;
    border-bottom: 2px solid #B70532;
    border-radius: 0 0 4px 4px;
    @include background-image(linear-gradient(left top, #f5f8fa, #e3e5e5));
    @include box-shadow(rgba(0, 0, 0, .5) 4px 4px 15px 1px);
  }

  /* sub-navigation panel open state */
  .sub-nav.open {
    display: block;
  }

  /* list of items within sub-navigation panel */

  .sub-nav ul,
  .sub-nav ul li.level-2.title-block{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0px;
    ul {
      margin-left: 20px;
      li.level-4 {
        list-style: circle;
      }
    }
  }

  .sub-nav ul li.level-2{
    margin-left: 10px;
  }

  /* list item within sub-navigation panel */
  .sub-nav li {
    list-style: square;
    margin: 0;
    padding: 0;
  }

  .sub-nav li a {
    display: block;
    line-height: 26px;

    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    color: #000000;
  }

  .sub-nav li a:hover {
    text-decoration: underline;
    color: $auxis-brand-red;
  }

  .sub-nav-group {
      h3 {
        margin: 0px;
        padding: 0px;
        float: left;
        line-height: 18px;
        font-weight: bold;
        width: 100%;
        font-size: 14px;
        color: $auxis-brand-teal;
        text-transform: uppercase;
      }
  }

  .last .sub-nav {
    right: 0px;
  }

  .menu__item {
    .sub-nav {
      a.active {
        color: $auxis-brand-red;
      }
    }
  }

}