@import "_init";
@import "compass";

.not-front {
  background-color: $auxis-brand-gray-background;

  #content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .main-content {
    background-color: #ffffff;
  }

  a.readmore-js-toggle {
    padding-top: $space-box-normalize;
  }

  footer {
    color: #FFFFFF;
    font-family: $google-font-open-sans;
    background-color: $auxis-brand-red;
    font-size: 90%;
    padding: 10px 0;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;

    .block-title {
      display: none;
    }

    .block {
      margin: 0px;
    }

    ul {
      padding: 0px;
      li {
        display: inline-block;
        list-style: none;
        padding-right: 20px;
      }
    }

    a {
      font-weight: normal;
      text-decoration: none;
      color: #FFFFFF;
    }
  }

  .breadcrumb {
    padding: 10px 0 0 0;
    background-color: #ffffff;
    a {
      font-size: 90%;
      text-decoration: none;
      color: $auxis-brand-teal;
    }
  }

  .title {
    color: #ffffff;
    background-color: $auxis-brand-teal;
    padding: 10px;
    //border-radius: 0 0 4px 4px;
  }

  .dummy_header {
    display: none
  }

  .header {
    margin: 0px;
  }

  .left-col {
    .block-title {
      display: none;
    }
  }

  form.search-form {
    margin: $space-box-normalize 0;

    #edit-basic {
      margin: $space-box-normalize 0;
    }

    .fieldset-legend {
      a {
        font-size: 0.8em;
      }
    }
  }

  h2 {
    margin-bottom: 0px;
  }

  ol.search-results {
    padding: 0px;
    margin: 0px;
    li {
      background-color: $auxis-brand-teal-light;
      padding-bottom: 10px;
      h3.title {
        background-color: transparent;
        margin: 0px;
        padding-left: $space-box-normalize;
      }
      p.search-info {
        display: none;
      }
    }
  }

  div.events-item-list {
    ul {
      padding: 0px;
      li {
        list-style-type: none;
        margin-bottom: 10px;
        ul.events {
          li {
            display: inline-block;
            vertical-align: top;
            min-height: 100px;
            height: 100%;
          }
          li.calendar {
            width: 100px;
            margin-right: 5px;
            padding: 0px;
            div.calendar-ico {
              width: 100px;
              height: 100px;
              background-image: url("../images/calendar.png");
              background-repeat: no-repeat;
              background-position: center;
              div.month {
                color: #FFFFFF;
                padding-top: 22px;
                text-align: center;
              }
              div.day {
                padding-top: 5px;
                font-size: 30px;
                text-align: center;
              }
            }
          }
          li.content {
            background-color: $auxis-brand-teal-light;
            padding: 5px;
            width: 81%;
          }
        }
      }
    }
  }
}