@import "_init";
@import "compass/css3";

/* Mega menu CSS for Auxis Website */

.dkp-menu {

  font-family: $base-font-family;

  /* mega menu list */
  .nav-menu {
    display: block;
    position: relative;
    //list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 15;
  }

  /* a top level navigation item in the mega menu */
  .nav-item {
    //list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  /* first descendant link within a top level navigation item */
  .nav-item > a {
    text-transform: uppercase;
    font-size: 115%;
    color: #fcfcfc;
    letter-spacing: 2px;
    padding: 0 0.5em;
    height: $nav-top-menu-max-height;
    max-width: 140px;
    text-decoration: none;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  /* focus/open states of first descendant link within a top level
     navigation item */
  .nav-item > a:focus,
  .nav-item > a.open,
  .nav-item > a:hover,
  .nav-item > a.active-trail {
    color: #fcfcfc;
    //text-shadow: 1px 1px 1px #000000;
    border-left: 2px solid #B70532;
    //border-right: 2px solid $auxis-brand-red;
  }

  /* open state of first descendant link within a top level
     navigation item */
  .nav-item > a.open,
  .nav-item > a:hover,
  .nav-item > a.active-trail{
    @include background-image(linear-gradient(180deg, #B70532, $auxis-brand-red));
    border-bottom: none;
    z-index: 1;
  }

  /* sub-navigation panel */
  .sub-nav.menu-full, .sub-nav.menu-full-4 {
    left: 0px;
    width: 100%;
  }
  .sub-nav {
    position: absolute;
    display: none;
    top: 106px;
    min-width: 150px;
    margin-top: -1px;
    padding: 0.5em 1em;
    border-left: 2px solid #B70532;
    border-right: 2px solid #B70532;
    border-bottom: 2px solid #B70532;
    border-radius: 0 0 4px 4px;
    @include background-image(linear-gradient(180deg, #f5f8fa, #e3e5e5));
    @include box-shadow(rgba(0, 0, 0, .5) 4px 4px 15px 1px);
  }

  /* sub-navigation panel open state */
  .sub-nav.open {
    display: block;
  }

  /* list of items within sub-navigation panel */

  .sub-nav ul,
  .sub-nav ul li.level-2.title-block{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0px;
    ul {
      margin-left: 20px;
      li.level-4 {
        list-style: circle;
      }
    }
  }

  .sub-nav.menu-full ul li.level-2{
    margin-left: 0px;
  }

  .sub-nav ul li.level-2{
    margin-left: 20px;
  }

  /* list item within sub-navigation panel */
  .sub-nav li {
    list-style: square;
    margin: 0;
    padding: 0;
  }

  .sub-nav li a {
    display: block;
    line-height: 26px;

    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    color: #000000;
  }

  .sub-nav li a:hover {
    text-decoration: underline;
    color: $auxis-brand-red;
  }

  ul.sub-nav-group {
      display: table;
      li.menu-col {
        display: inline-table;
        > a {
          font-weight: bold;
          width: 100%;
          font-size: 14px;
          line-height: 1.3em;
          color: $auxis-brand-teal;
          text-transform: uppercase;        }
      }
  }

  .menu-full {
    ul.sub-nav-group {
      li.menu-col {
        width: 30%;
        margin-left: 3%;
      }
    }
  }

  .menu-full-4 {
    ul.sub-nav-group {
      li.menu-col {
        width: 22%;
      }
    }
  }

  .last .sub-nav {
    right: 0px;
  }

  .menu__item {
    .sub-nav {
      a.active {
        color: $auxis-brand-red;
      }
    }
  }

}