/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
/* line 9, ../sass/_normalize-rtl.scss */
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
/* line 16, ../sass/_normalize-rtl.scss */
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /* line 111, ../sass/layouts/_responsive.scss */
  .header {
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 10px;
  }

  /* line 117, ../sass/layouts/_responsive.scss */
  #navigation {
    float: left;
  }

  /**
   * The layout when there is only one sidebar, the left one.
   */
  /* line 124, ../sass/layouts/_responsive.scss */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  /* line 126, ../sass/layouts/_responsive.scss */
  .sidebar-first #content {
    clear: right;
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  /* line 132, ../sass/layouts/_responsive.scss */
  .sidebar-first .region-sidebar-first {
    clear: right;
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  /* line 141, ../sass/layouts/_responsive.scss */
  .not-front.sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 3rd column from left. */
  }
  /* line 143, ../sass/layouts/_responsive.scss */
  .not-front.sidebar-second #content {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 148, ../sass/layouts/_responsive.scss */
  .not-front.sidebar-second .region-sidebar-second {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */
  /* line 156, ../sass/layouts/_responsive.scss */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Start a new row and span all 3 columns. */
  }
  /* line 158, ../sass/layouts/_responsive.scss */
  .two-sidebars #content {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  /* line 163, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  /* line 168, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
    /* Apply the shared properties of grid items in a single, efficient ruleset. */
    /* Span 1 column, starting in the 1st column from left. */
    /* Span 1 column, starting in the 2nd column from left. */
    /* Span 1 column, starting in the 3rd column from left. */
  }
  /* line 174, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 178, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
  }
  /* line 183, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
  /* line 187, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /* line 194, ../sass/layouts/_responsive.scss */
  .content-slider .dkp.carousel-caption {
    left: 12%;
    right: 20%;
  }
  /* line 198, ../sass/layouts/_responsive.scss */
  .content-slider .dkp.carousel-caption h1 {
    font-size: 1.2em;
  }
  /* line 201, ../sass/layouts/_responsive.scss */
  .content-slider .dkp.carousel-caption h2 {
    font-size: 1em;
  }
}
/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
  /* line 213, ../sass/layouts/_responsive.scss */
  a[href="#main-mmenu"] {
    display: none;
  }

  /* line 217, ../sass/layouts/_responsive.scss */
  .dkp.dkp-menu-wrapper {
    display: block;
    height: 100%;
    font-size: 90%;
  }
  /* line 222, ../sass/layouts/_responsive.scss */
  .dkp.dkp-menu-wrapper .region-dkpmenu {
    height: 100%;
  }
  /* line 225, ../sass/layouts/_responsive.scss */
  .dkp.dkp-menu-wrapper .region-dkpmenu .block-menu-block {
    height: 100%;
  }
  /* line 228, ../sass/layouts/_responsive.scss */
  .dkp.dkp-menu-wrapper .region-dkpmenu .block-menu-block .dkp-menu {
    height: 100%;
  }

  /**
   * Dummy Header of the layout
   */
  /* line 240, ../sass/layouts/_responsive.scss */
  #dummy {
    display: block;
    height: 10px;
  }
  /* line 244, ../sass/layouts/_responsive.scss */
  #dummy .dummy {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 590px;
    height: 100%;
    margin-top: 5px;
  }

  /**
   * Header of the layout
   */
  /* line 258, ../sass/layouts/_responsive.scss */
  #header .dkp.nav-logo {
    padding: 0;
  }

  /**
   * Content of the layout
   */
  /* line 269, ../sass/layouts/_responsive.scss */
  #content .block {
    margin: 0px;
  }
  /* line 273, ../sass/layouts/_responsive.scss */
  #content .content-news {
    float: right;
    width: 20%;
    margin-right: 80%;
    margin-left: -100%;
  }
  /* line 276, ../sass/layouts/_responsive.scss */
  #content .content-news .news-info, #content .content-news .news-clients {
    margin-left: 10%;
  }
  /* line 280, ../sass/layouts/_responsive.scss */
  #content .content-news .news-info {
    margin-bottom: 15px;
    height: 121px;
  }
  /* line 285, ../sass/layouts/_responsive.scss */
  #content .content-news .dkp.news-clients {
    text-align: center;
    height: 115px;
  }
  /* line 289, ../sass/layouts/_responsive.scss */
  #content .content-news .dkp.news-clients .region-content-slider-client {
    display: table;
    height: 100%;
    width: 100%;
  }
  /* line 293, ../sass/layouts/_responsive.scss */
  #content .content-news .dkp.news-clients .region-content-slider-client .block {
    display: table-cell;
    vertical-align: middle;
  }
  /* line 301, ../sass/layouts/_responsive.scss */
  #content .content-slider {
    float: right;
    width: 80%;
    margin-right: 0%;
    margin-left: -80%;
  }
  /* line 304, ../sass/layouts/_responsive.scss */
  #content .content-slider .dkp.carousel-caption {
    left: 10%;
    right: 20%;
  }
  /* line 308, ../sass/layouts/_responsive.scss */
  #content .content-slider .dkp.carousel-caption h1 {
    line-height: 1.5em;
    font-size: 1.5em;
  }
  /* line 312, ../sass/layouts/_responsive.scss */
  #content .content-slider .dkp.carousel-caption h2 {
    font-size: 1em;
  }
  /* line 318, ../sass/layouts/_responsive.scss */
  #content .content-details {
    clear: both;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 324, ../sass/layouts/_responsive.scss */
  #content .content-details .features {
    clear: both;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    margin-bottom: 0px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  #content .content-details .features:before, #content .content-details .features:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  #content .content-details .features:after {
    clear: both;
  }
  /* line 330, ../sass/layouts/_responsive.scss */
  #content .content-details .features .feature-1 {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  /* line 334, ../sass/layouts/_responsive.scss */
  #content .content-details .features .feature-2 {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
  /* line 338, ../sass/layouts/_responsive.scss */
  #content .content-details .features .feature-3 {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
  /* line 344, ../sass/layouts/_responsive.scss */
  #content .details {
    clear: both;
    float: right;
    width: 83.33333%;
    margin-right: 0%;
    margin-left: -83.33333%;
  }
  /* line 350, ../sass/layouts/_responsive.scss */
  #content .features .block-title {
    display: none;
  }
  /* line 353, ../sass/layouts/_responsive.scss */
  #content .features .feature {
    vertical-align: top;
  }
  /* line 355, ../sass/layouts/_responsive.scss */
  #content .features .feature img {
    display: block;
    float: left;
    padding-right: 15px;
  }
  /* line 360, ../sass/layouts/_responsive.scss */
  #content .features .feature a {
    float: left;
    color: #5b5b5b;
    font-weight: 800;
    width: 42%;
    padding-right: 15px;
    padding-bottom: 5px;
  }
  /* line 368, ../sass/layouts/_responsive.scss */
  #content .features .feature p {
    float: left;
    margin: 0px;
    width: 42%;
    padding-right: 15px;
  }

  /**
   * Footer of the layout
   */
  /* line 386, ../sass/layouts/_responsive.scss */
  #footer .footer-internal-menu {
    float: right;
    width: 80%;
    margin-right: 0%;
    margin-left: -80%;
  }
  /* line 388, ../sass/layouts/_responsive.scss */
  #footer .footer-internal-menu ul.menu {
    margin: 0px;
  }
  /* line 392, ../sass/layouts/_responsive.scss */
  #footer .copy {
    text-align: right;
    float: right;
    width: 20%;
    margin-right: 80%;
    margin-left: -100%;
  }

  /**
   * Footer - Content of the layout
   */
  /* line 401, ../sass/layouts/_responsive.scss */
  #footer-content.dkp {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 10px;
    max-width: 1000px;
  }
  /* line 408, ../sass/layouts/_responsive.scss */
  #footer-content.dkp #block-menu-block-3 {
    float: right;
    width: 80%;
    margin-right: 0%;
    margin-left: -80%;
  }
  /* line 412, ../sass/layouts/_responsive.scss */
  #footer-content.dkp #block-search-form {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    margin-top: 0px;
  }
  /* line 417, ../sass/layouts/_responsive.scss */
  #footer-content.dkp #block-menu-menu-footer-search-menu- {
    clear: left;
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }
  /* line 422, ../sass/layouts/_responsive.scss */
  #footer-content.dkp #block-social-media-links-social-media-links {
    clear: left;
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }
  /* line 427, ../sass/layouts/_responsive.scss */
  #footer-content.dkp li.level-1 > ul {
    display: block;
  }
  /* line 431, ../sass/layouts/_responsive.scss */
  #footer-content.dkp .level-1 {
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-block;
    width: 30%;
  }

  /**
   * The Internal Body Layout.
   */
  /* line 445, ../sass/layouts/_responsive.scss */
  body.not-front .breadcrumb {
    margin-bottom: 10px;
  }
  /* line 449, ../sass/layouts/_responsive.scss */
  body.not-front #content.dkp {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 459, ../sass/layouts/_responsive.scss */
  body.not-front #content.dkp .left-col {
    display: block;
  }
  /* line 467, ../sass/layouts/_responsive.scss */
  body.not-front #content.dkp div.events-item-list ul li ul.events li.calendar {
    display: inline-block;
    width: 80px;
    margin-right: 5px;
    padding: 0px;
  }
  /* line 472, ../sass/layouts/_responsive.scss */
  body.not-front #content.dkp div.events-item-list ul li ul.events li.calendar div.calendar-ico {
    width: 75px;
    height: 75px;
    background-image: url("../images/calendar.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  /* line 478, ../sass/layouts/_responsive.scss */
  body.not-front #content.dkp div.events-item-list ul li ul.events li.calendar div.calendar-ico div.month {
    color: #FFFFFF;
    padding-top: 13px;
    text-align: center;
  }
  /* line 483, ../sass/layouts/_responsive.scss */
  body.not-front #content.dkp div.events-item-list ul li ul.events li.calendar div.calendar-ico div.day {
    padding-top: 2px;
    font-size: 26px;
    text-align: center;
  }
  /* line 490, ../sass/layouts/_responsive.scss */
  body.not-front #content.dkp div.events-item-list ul li ul.events li.content {
    width: 84%;
  }
  /* line 500, ../sass/layouts/_responsive.scss */
  body.not-front .left-col {
    float: right;
    width: 20%;
    margin-right: 0%;
    margin-left: -20%;
    background-color: #848485;
    padding: 0 0 5px 0;
  }
  /* line 506, ../sass/layouts/_responsive.scss */
  body.not-front .left-col .menu-block-wrapper > ul.menu > li {
    margin-bottom: 15px;
    margin-left: 3px;
  }
  /* line 511, ../sass/layouts/_responsive.scss */
  body.not-front .left-col .menu-block-wrapper > ul.menu > li.first {
    margin-top: 20px;
  }
  /* line 515, ../sass/layouts/_responsive.scss */
  body.not-front .left-col ul.menu {
    display: block;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 100%;
  }
  /* line 523, ../sass/layouts/_responsive.scss */
  body.not-front .left-col ul.menu li {
    list-style: none;
  }
  /* line 525, ../sass/layouts/_responsive.scss */
  body.not-front .left-col ul.menu li a {
    color: #ffffff;
    font-weight: 800;
    display: block;
    padding-right: 3px;
    padding-bottom: 3px;
  }
  /* line 533, ../sass/layouts/_responsive.scss */
  body.not-front .left-col ul.menu li a:hover {
    text-decoration: none;
    margin-left: -3px;
    padding-left: 3px;
    color: #ffffff;
    background-color: #666668;
  }
  /* line 546, ../sass/layouts/_responsive.scss */
  body.not-front .left-col ul.menu li ul li {
    list-style: none;
    padding: 0px;
  }
  /* line 549, ../sass/layouts/_responsive.scss */
  body.not-front .left-col ul.menu li ul li a {
    font-size: 90%;
    text-shadow: none;
    color: #ffffff;
    font-weight: normal;
  }
  /* line 559, ../sass/layouts/_responsive.scss */
  body.not-front .left-col ul.menu li.is-active-trail {
    border-left: 3px solid #ffffff;
    margin-left: -3px;
    padding-left: 3px;
  }
  /* line 563, ../sass/layouts/_responsive.scss */
  body.not-front .left-col ul.menu li.is-active-trail li.active {
    border: none;
    margin-left: -3px;
    background-color: #999999;
  }
  /* line 570, ../sass/layouts/_responsive.scss */
  body.not-front .left-col ul.menu a.is-active-trail {
    margin-left: -3px;
    padding-left: 3px;
    background-color: #999999;
  }
  /* line 578, ../sass/layouts/_responsive.scss */
  body.not-front .article {
    background-color: #ffffff;
    padding: 0 1% 1% 1%;
    float: right;
    width: 60%;
    margin-right: 20%;
    margin-left: -80%;
  }
  /* line 584, ../sass/layouts/_responsive.scss */
  body.not-front .right-col {
    background-color: #848485;
    float: right;
    width: 20%;
    margin-right: 80%;
    margin-left: -100%;
    padding: 0 1% 1% 1%;
  }
  /* line 588, ../sass/layouts/_responsive.scss */
  body.not-front .right-col ul {
    list-style: none;
    padding: 0px;
  }
  /* line 591, ../sass/layouts/_responsive.scss */
  body.not-front .right-col ul li {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 10px;
  }
  /* line 595, ../sass/layouts/_responsive.scss */
  body.not-front .right-col ul li a {
    display: block;
    padding-bottom: 5px;
    font-weight: 800;
    color: #ffffff;
  }
}
/* Component (SMACSS module) rules */
/**
 * @file
 * RTL companion for the modular-styles.css file.
 */
/**
 * Branding header.
 */
/* Wrapping link for logo. */
/* line 11, ../sass/components/_misc-rtl.scss */
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
/* line 16, ../sass/components/_misc-rtl.scss */
.header__secondary-menu {
  float: left;
}

/**
 * Navigation bar.
 */
/* Main menu and secondary menu links and menu block links. */
/* line 27, ../sass/components/_misc-rtl.scss */
#navigation .links,
#navigation .menu {
  text-align: right;
}
/* line 30, ../sass/components/_misc-rtl.scss */
#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * Messages.
 */
/* line 41, ../sass/components/_misc-rtl.scss */
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * Tabs.
 */
/* line 58, ../sass/components/_misc-rtl.scss */
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/**
 * Inline styles.
 */
/* List of links */
/* line 77, ../sass/components/_misc-rtl.scss */
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
/* line 84, ../sass/components/_misc-rtl.scss */
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * "More" links.
 */
/* line 91, ../sass/components/_misc-rtl.scss */
.more-link {
  text-align: left;
}

/* line 94, ../sass/components/_misc-rtl.scss */
.more-help-link {
  text-align: left;
}

/* line 97, ../sass/components/_misc-rtl.scss */
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Menus.
 */
/* line 105, ../sass/components/_misc-rtl.scss */
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * Comments.
 */
/* Nested comments are indented. */
/* line 117, ../sass/components/_misc-rtl.scss */
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * Forms.
 */
/* Drupal's default login form block */
/* line 127, ../sass/components/_misc-rtl.scss */
#user-login-form {
  text-align: right;
}

/* line 132, ../sass/components/_misc-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/*
 * Drupal admin tables.
 */
/* line 142, ../sass/components/_misc-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 155, ../sass/components/_misc-rtl.scss */
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
/* line 160, ../sass/components/_misc-rtl.scss */
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
