/* line 4, ../sass/theme-auxis.scss */
body {
  background-color: #ffffff;
  -webkit-text-size-adjust: none;
  color: #5b5b5b;
  font-family: "Open Sans", sans-serif;
}
/* line 10, ../sass/theme-auxis.scss */
body p, body pre {
  margin: 1.5em 0 0 0;
}

/* line 15, ../sass/theme-auxis.scss */
.header {
  background-color: #df004a;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  height: 105px;
}

/* line 24, ../sass/theme-auxis.scss */
.hide {
  display: none;
}

/* line 28, ../sass/theme-auxis.scss */
.features {
  margin-bottom: 1.5em;
}
/* line 30, ../sass/theme-auxis.scss */
.features .block-title {
  display: none;
}
/* line 33, ../sass/theme-auxis.scss */
.features .feature {
  margin-bottom: 1.5em;
}
/* line 35, ../sass/theme-auxis.scss */
.features .feature img {
  display: none;
}
/* line 38, ../sass/theme-auxis.scss */
.features .feature a {
  color: #5b5b5b;
  font-weight: 800;
}
/* line 42, ../sass/theme-auxis.scss */
.features .feature p {
  margin: 0px;
}

/* line 48, ../sass/theme-auxis.scss */
.nav-logo {
  padding: 5px 10px 0px 40px;
}
/* line 50, ../sass/theme-auxis.scss */
.nav-logo .logo-container {
  color: #ffffff;
  position: relative;
  height: 105px;
  z-index: 50;
  margin-right: 5px;
  font-size: 80%;
  width: 250px;
}
/* line 58, ../sass/theme-auxis.scss */
.nav-logo .logo-container img.header__logo-image {
  position: absolute;
  left: 40px;
  top: 13px;
}
/* line 64, ../sass/theme-auxis.scss */
.nav-logo .logo-container span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  bottom: 12px;
  left: 5px;
}

/* line 75, ../sass/theme-auxis.scss */
footer {
  background-color: #848485;
}

/* line 79, ../sass/theme-auxis.scss */
.news-info {
  color: #ffffff;
  background-color: #848485;
  padding: 0.2em;
  margin-bottom: 5px;
}

/* line 86, ../sass/theme-auxis.scss */
.news-clients {
  border: 2px solid #848485;
}
/* line 89, ../sass/theme-auxis.scss */
.news-clients h2 {
  font-size: 90%;
  text-align: center;
  font-weight: 800;
}
/* line 95, ../sass/theme-auxis.scss */
.news-clients .carousel-indicators, .news-clients .carousel-control {
  display: none;
}
/* line 99, ../sass/theme-auxis.scss */
.news-clients .carousel {
  text-align: center;
}

/* line 104, ../sass/theme-auxis.scss */
.dkp-menu-wrapper {
  display: none;
}

/* line 108, ../sass/theme-auxis.scss */
.mm-menu.mm-ismenu {
  color: #1C201F;
  background-color: #848485;
}

/* line 114, ../sass/theme-auxis.scss */
.mm-menu .menu a.active {
  color: #ffffff;
}

/* line 119, ../sass/theme-auxis.scss */
.content-details {
  padding: 0 0 10px 0;
}
/* line 121, ../sass/theme-auxis.scss */
.content-details a {
  color: #169588;
  text-decoration: none;
}
/* line 126, ../sass/theme-auxis.scss */
.content-details p {
  margin: 0 0 1.5em 0;
}

/* line 132, ../sass/theme-auxis.scss */
#footer-content {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 90%;
}
/* line 138, ../sass/theme-auxis.scss */
#footer-content h2 {
  display: none;
}
/* line 142, ../sass/theme-auxis.scss */
#footer-content .level-1 {
  margin-top: 0px;
  margin-bottom: 15px;
  display: inline-block;
  width: 30%;
}
/* line 148, ../sass/theme-auxis.scss */
#footer-content .level-1 > a {
  font-weight: 800;
}
/* line 151, ../sass/theme-auxis.scss */
#footer-content .block {
  margin: 0px;
  color: #ffffff;
}
/* line 155, ../sass/theme-auxis.scss */
#footer-content .block ul.menu {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 16px;
  padding: 0px;
  margin: 0px;
}
/* line 161, ../sass/theme-auxis.scss */
#footer-content .block ul.menu li {
  list-style: none;
  vertical-align: top;
}
/* line 164, ../sass/theme-auxis.scss */
#footer-content .block ul.menu li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 168, ../sass/theme-auxis.scss */
#footer-content .block ul.menu li a:hover {
  color: #df004a;
}
/* line 171, ../sass/theme-auxis.scss */
#footer-content .block ul.menu li ul {
  padding: 0px;
}

/* line 182, ../sass/theme-auxis.scss */
.content-news {
  margin-bottom: 1.5em;
}

/* line 188, ../sass/theme-auxis.scss */
.content-slider .block-title {
  display: none;
}
/* line 192, ../sass/theme-auxis.scss */
.content-slider .carousel.c-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
/* line 201, ../sass/theme-auxis.scss */
.content-slider .carousel.c-fade .active.left,
.content-slider .carousel.c-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 209, ../sass/theme-auxis.scss */
.content-slider .carousel.c-fade .next,
.content-slider .carousel.c-fade .prev {
  left: 0;
  z-index: 1;
}
/* line 214, ../sass/theme-auxis.scss */
.content-slider .carousel.c-fade .carousel-control {
  z-index: 3;
}
/* line 218, ../sass/theme-auxis.scss */
.content-slider .carousel-indicators, .content-slider .carousel-control {
  display: none;
}
/* line 222, ../sass/theme-auxis.scss */
.content-slider .carousel-caption {
  text-align: left;
  padding: 1%;
  z-index: 0;
  bottom: 10%;
  background-color: #0f9386;
}
/* line 231, ../sass/theme-auxis.scss */
.content-slider .carousel-caption h1 {
  font-size: 100%;
  line-height: 1em;
  padding: 0px;
  margin: 0px;
}
/* line 238, ../sass/theme-auxis.scss */
.content-slider .carousel-caption h2 {
  font-size: 50%;
  padding: 0px;
  margin: 0px;
  line-height: 1.3em;
}
