/* line 4, ../sass/theme-auxis-inner-pages.scss */
.not-front {
  background-color: #848485;
}
/* line 7, ../sass/theme-auxis-inner-pages.scss */
.not-front #content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 18, ../sass/theme-auxis-inner-pages.scss */
.not-front .main-content {
  background-color: #ffffff;
}
/* line 22, ../sass/theme-auxis-inner-pages.scss */
.not-front footer {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  background-color: #df004a;
  min-height: 50px;
  font-size: 90%;
}
/* line 29, ../sass/theme-auxis-inner-pages.scss */
.not-front footer .block-title {
  display: none;
}
/* line 33, ../sass/theme-auxis-inner-pages.scss */
.not-front footer ul {
  padding: 0px;
}
/* line 35, ../sass/theme-auxis-inner-pages.scss */
.not-front footer ul li {
  display: inline-block;
  list-style: none;
  padding-right: 20px;
}
/* line 42, ../sass/theme-auxis-inner-pages.scss */
.not-front footer a {
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
}
/* line 49, ../sass/theme-auxis-inner-pages.scss */
.not-front .breadcrumb {
  padding: 5px 0 5px 0;
}
/* line 51, ../sass/theme-auxis-inner-pages.scss */
.not-front .breadcrumb a {
  font-size: 90%;
  text-decoration: none;
  color: #0f9386;
}
/* line 58, ../sass/theme-auxis-inner-pages.scss */
.not-front .title {
  color: #ffffff;
  background-color: #0f9386;
  padding: 10px;
}
/* line 65, ../sass/theme-auxis-inner-pages.scss */
.not-front .dummy_header {
  display: none;
}
/* line 69, ../sass/theme-auxis-inner-pages.scss */
.not-front .header {
  margin: 0px;
}
/* line 74, ../sass/theme-auxis-inner-pages.scss */
.not-front .left-col .block-title {
  display: none;
}
