/* line 4, ../sass/theme-auxis.scss */
body {
  background-color: #ffffff;
  -webkit-text-size-adjust: none;
  color: #5b5b5b;
  font-family: "Open Sans", sans-serif;
}
/* line 10, ../sass/theme-auxis.scss */
body p, body pre {
  margin: 1.5em 0 0 0;
}

/* line 15, ../sass/theme-auxis.scss */
.header {
  background-color: #154890;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  height: 105px;
}

/* line 24, ../sass/theme-auxis.scss */
.hide {
  display: none;
}

/* line 28, ../sass/theme-auxis.scss */
.features {
  margin-bottom: 1.5em;
}
/* line 30, ../sass/theme-auxis.scss */
.features .block-title {
  display: none;
}
/* line 33, ../sass/theme-auxis.scss */
.features .feature {
  margin-bottom: 1.5em;
}
/* line 35, ../sass/theme-auxis.scss */
.features .feature img {
  display: none;
}
/* line 38, ../sass/theme-auxis.scss */
.features .feature a {
  color: #5b5b5b;
  font-weight: bold;
}
/* line 42, ../sass/theme-auxis.scss */
.features .feature p {
  margin: 0px;
}
/* line 45, ../sass/theme-auxis.scss */
.features .feature a:last-child, .features .feature a.download-link {
  text-transform: uppercase;
}

/* line 51, ../sass/theme-auxis.scss */
.nav-logo {
  padding: 5px 0px 0px 40px;
}
/* line 53, ../sass/theme-auxis.scss */
.nav-logo .logo-container {
  color: #ffffff;
  position: relative;
  height: 105px;
  z-index: 50;
  margin-right: 5px;
  font-size: 80%;
  width: 250px;
}
/* line 61, ../sass/theme-auxis.scss */
.nav-logo .logo-container img.header__logo-image {
  position: absolute;
  left: 40px;
  top: 13px;
}
/* line 67, ../sass/theme-auxis.scss */
.nav-logo .logo-container span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  bottom: 12px;
  left: 5px;
}

/* line 78, ../sass/theme-auxis.scss */
footer {
  background-color: #848485;
}

/* line 82, ../sass/theme-auxis.scss */
.news-info {
  color: #ffffff;
  background-color: #848485;
  padding: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
/* line 88, ../sass/theme-auxis.scss */
.news-info h2.block-title {
  display: none;
}
/* line 92, ../sass/theme-auxis.scss */
.news-info div.newsticker {
  font-size: 80%;
}
/* line 94, ../sass/theme-auxis.scss */
.news-info div.newsticker ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
/* line 98, ../sass/theme-auxis.scss */
.news-info div.newsticker ul li {
  border-bottom: 1px dotted #ffffff;
  padding: 3px 0px;
  line-height: 14px;
}
/* line 102, ../sass/theme-auxis.scss */
.news-info div.newsticker ul li div.views-field-title {
  margin-bottom: 1px;
}
/* line 105, ../sass/theme-auxis.scss */
.news-info div.newsticker ul li div.views-field-title span.field-content a {
  color: #ffffff;
  font-weight: 800;
  margin: 0px;
}
/* line 110, ../sass/theme-auxis.scss */
.news-info div.newsticker ul li div.views-field-title span.field-content a:hover {
  text-decoration: none;
  font-weight: 800;
  color: #47474A;
}
/* line 117, ../sass/theme-auxis.scss */
.news-info div.newsticker ul li div.field-content p {
  margin: 0px;
}
/* line 122, ../sass/theme-auxis.scss */
.news-info div.newsticker div.more-events {
  text-align: right;
}
/* line 124, ../sass/theme-auxis.scss */
.news-info div.newsticker div.more-events a {
  color: #ffffff;
}
/* line 127, ../sass/theme-auxis.scss */
.news-info div.newsticker div.more-events a:hover {
  color: #06295a;
  text-decoration: none;
}

/* line 135, ../sass/theme-auxis.scss */
.news-clients {
  border: 2px solid #848485;
  overflow: hidden;
}
/* line 139, ../sass/theme-auxis.scss */
.news-clients h2.block-title {
  font-size: 10px;
  line-height: 15px;
}
/* line 146, ../sass/theme-auxis.scss */
.news-clients .carousel-inner .item img {
  display: inline-block;
}

/* line 153, ../sass/theme-auxis.scss */
.dkp-menu-wrapper {
  display: none;
}

/* line 157, ../sass/theme-auxis.scss */
.mm-menu.mm-ismenu {
  color: #1C201F;
  background-color: #848485;
}

/* line 163, ../sass/theme-auxis.scss */
.mm-menu .menu a.active {
  color: #ffffff;
}

/* line 168, ../sass/theme-auxis.scss */
.content-details {
  padding: 0px;
}
/* line 170, ../sass/theme-auxis.scss */
.content-details a {
  color: #169588;
  text-decoration: none;
}
/* line 175, ../sass/theme-auxis.scss */
.content-details p {
  margin: 0 0 1.5em 0;
}

/* line 181, ../sass/theme-auxis.scss */
#footer-content {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  padding: 0px;
  margin-top: 10px;
  font-size: 90%;
}
/* line 187, ../sass/theme-auxis.scss */
#footer-content .form-control:focus {
  border-color: #154890;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(223, 0, 74, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(223, 0, 74, 0.6);
}
/* line 193, ../sass/theme-auxis.scss */
#footer-content h2 {
  display: none;
}
/* line 197, ../sass/theme-auxis.scss */
#footer-content .level-1 > ul {
  display: none;
}
/* line 201, ../sass/theme-auxis.scss */
#footer-content .level-1 > a {
  font-weight: 800;
}
/* line 205, ../sass/theme-auxis.scss */
#footer-content #block-search-form {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 210, ../sass/theme-auxis.scss */
#footer-content #block-search-form input {
  padding: 5px;
  color: #5b5b5b;
}
/* line 214, ../sass/theme-auxis.scss */
#footer-content #block-search-form input.form-submit {
  display: none;
}
/* line 219, ../sass/theme-auxis.scss */
#footer-content #block-social-media-links-social-media-links {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 222, ../sass/theme-auxis.scss */
#footer-content #block-social-media-links-social-media-links .horizontal li {
  padding-left: 0px;
  padding-right: 8px;
}
/* line 228, ../sass/theme-auxis.scss */
#footer-content .block {
  margin: 0px;
  color: #ffffff;
}
/* line 232, ../sass/theme-auxis.scss */
#footer-content .block ul.menu {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}
/* line 239, ../sass/theme-auxis.scss */
#footer-content .block ul.menu li {
  list-style: none;
  vertical-align: top;
}
/* line 242, ../sass/theme-auxis.scss */
#footer-content .block ul.menu li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 246, ../sass/theme-auxis.scss */
#footer-content .block ul.menu li a:hover {
  color: #47474A;
}
/* line 249, ../sass/theme-auxis.scss */
#footer-content .block ul.menu li ul {
  padding: 0px;
}

/* line 261, ../sass/theme-auxis.scss */
.content-news {
  margin-bottom: 1.5em;
}
/* line 264, ../sass/theme-auxis.scss */
.content-news .carousel.c-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
/* line 273, ../sass/theme-auxis.scss */
.content-news .carousel.c-fade .active.left,
.content-news .carousel.c-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 281, ../sass/theme-auxis.scss */
.content-news .carousel.c-fade .next,
.content-news .carousel.c-fade .prev {
  left: 0;
  z-index: 1;
}
/* line 286, ../sass/theme-auxis.scss */
.content-news .carousel.c-fade .carousel-control {
  z-index: 3;
}

/* line 293, ../sass/theme-auxis.scss */
.content-slider .block-title {
  display: none;
}
/* line 297, ../sass/theme-auxis.scss */
.content-slider .carousel-control {
  display: none;
}
/* line 301, ../sass/theme-auxis.scss */
.content-slider .carousel-indicators {
  bottom: -15px;
  z-index: 1;
}
/* line 306, ../sass/theme-auxis.scss */
.content-slider .carousel-caption {
  text-align: left;
  padding: 1%;
  z-index: 0;
  bottom: 10%;
  background-color: #ff6600;
}
/* line 315, ../sass/theme-auxis.scss */
.content-slider .carousel-caption h1 {
  font-size: 100%;
  line-height: 1em;
  padding: 0px;
  margin: 0px;
}
/* line 322, ../sass/theme-auxis.scss */
.content-slider .carousel-caption h2 {
  font-size: 50%;
  padding: 0px;
  margin: 0px;
  line-height: 1.3em;
}

/* line 332, ../sass/theme-auxis.scss */
.view .date-nav-wrapper .date-prev {
  right: 87px;
}

/* line 337, ../sass/theme-auxis.scss */
a {
  color: #5b5b5b;
}

/* line 341, ../sass/theme-auxis.scss */
a:hover {
  color: #ff6600;
}

/* line 346, ../sass/theme-auxis.scss */
body.not-front .left-col {
  display: none;
}
/* line 350, ../sass/theme-auxis.scss */
body.not-front #content {
  display: block;
}
