/* line 4, ../sass/theme-auxis-inner-pages.scss */
.not-front {
  background-color: #848485;
}
/* line 7, ../sass/theme-auxis-inner-pages.scss */
.not-front h1 {
  line-height: 1.2em;
}
/* line 11, ../sass/theme-auxis-inner-pages.scss */
.not-front #content {
  display: block;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 18, ../sass/theme-auxis-inner-pages.scss */
.not-front .main-content {
  background-color: #ffffff;
}
/* line 22, ../sass/theme-auxis-inner-pages.scss */
.not-front a.readmore-link, .not-front a.readless-link {
  padding-top: 15px;
  display: block;
  text-transform: uppercase;
  text-decoration: underline;
  color: #0f9386;
}
/* line 30, ../sass/theme-auxis-inner-pages.scss */
.not-front footer {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  background-color: #df004a;
  font-size: 90%;
  padding: 10px 0;
}
/* line 39, ../sass/theme-auxis-inner-pages.scss */
.not-front footer .block-title {
  display: none;
}
/* line 43, ../sass/theme-auxis-inner-pages.scss */
.not-front footer .block {
  margin: 0px;
}
/* line 47, ../sass/theme-auxis-inner-pages.scss */
.not-front footer ul {
  padding: 0px;
}
/* line 49, ../sass/theme-auxis-inner-pages.scss */
.not-front footer ul li {
  display: inline-block;
  list-style: none;
  padding-right: 20px;
}
/* line 56, ../sass/theme-auxis-inner-pages.scss */
.not-front footer a {
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
}
/* line 63, ../sass/theme-auxis-inner-pages.scss */
.not-front .breadcrumb {
  padding: 10px 0 0 0;
  background-color: #ffffff;
}
/* line 66, ../sass/theme-auxis-inner-pages.scss */
.not-front .breadcrumb a {
  font-size: 90%;
  text-decoration: none;
  color: #0f9386;
}
/* line 73, ../sass/theme-auxis-inner-pages.scss */
.not-front .title {
  color: #ffffff;
  background-color: #0f9386;
  padding: 10px;
}
/* line 80, ../sass/theme-auxis-inner-pages.scss */
.not-front .dummy_header {
  display: none;
}
/* line 84, ../sass/theme-auxis-inner-pages.scss */
.not-front .header {
  margin: 0px;
}
/* line 89, ../sass/theme-auxis-inner-pages.scss */
.not-front .left-col .block-title {
  display: none;
}
/* line 94, ../sass/theme-auxis-inner-pages.scss */
.not-front form.search-form {
  margin: 15px 0;
}
/* line 97, ../sass/theme-auxis-inner-pages.scss */
.not-front form.search-form #edit-basic {
  margin: 15px 0;
}
/* line 102, ../sass/theme-auxis-inner-pages.scss */
.not-front form.search-form .fieldset-legend a {
  font-size: 0.8em;
}
/* line 108, ../sass/theme-auxis-inner-pages.scss */
.not-front h2 {
  margin-bottom: 0px;
}
/* line 112, ../sass/theme-auxis-inner-pages.scss */
.not-front ol.search-results {
  padding: 0px;
  margin: 0px;
}
/* line 115, ../sass/theme-auxis-inner-pages.scss */
.not-front ol.search-results li {
  padding-bottom: 10px;
  border-bottom: 1px dotted #848485;
}
/* line 118, ../sass/theme-auxis-inner-pages.scss */
.not-front ol.search-results li h3.title {
  background-color: transparent;
  margin: 0px;
  padding-left: 15px;
}
/* line 123, ../sass/theme-auxis-inner-pages.scss */
.not-front ol.search-results li p.search-info {
  display: none;
}
/* line 130, ../sass/theme-auxis-inner-pages.scss */
.not-front div.events-item-list ul {
  padding: 0px;
}
/* line 132, ../sass/theme-auxis-inner-pages.scss */
.not-front div.events-item-list ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
/* line 136, ../sass/theme-auxis-inner-pages.scss */
.not-front div.events-item-list ul li ul.events li {
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
  height: 100%;
}
/* line 142, ../sass/theme-auxis-inner-pages.scss */
.not-front div.events-item-list ul li ul.events li.calendar {
  display: none;
}
/* line 145, ../sass/theme-auxis-inner-pages.scss */
.not-front div.events-item-list ul li ul.events li.content {
  background-color: #e8fcf2;
  padding: 5px;
  width: 100%;
}
/* line 155, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog, .not-front .node-case-of-study {
  padding-bottom: 15px;
  border-bottom: 1px dotted #848485;
}
/* line 156, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog header, .not-front .node-case-of-study header {
  margin-top: 15px;
}
/* line 158, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog header h2, .not-front .node-case-of-study header h2 {
  line-height: 1.2em;
}
/* line 160, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog header h2 a, .not-front .node-case-of-study header h2 a {
  text-decoration: none;
}
/* line 164, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog header p, .not-front .node-case-of-study header p {
  margin-top: 5px;
}
/* line 168, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog div.field-name-field-case-study-image, .not-front .node-case-of-study div.field-name-field-case-study-image {
  float: left;
}
/* line 170, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog div.field-name-field-case-study-image img, .not-front .node-case-of-study div.field-name-field-case-study-image img {
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #000000;
}
/* line 176, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog div.field-name-body, .not-front .node-case-of-study div.field-name-body {
  display: inline;
}
/* line 178, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog div.field-name-body p, .not-front .node-case-of-study div.field-name-body p {
  display: block;
}
/* line 182, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog div.field-items, .not-front .node-case-of-study div.field-items {
  display: inline;
}
/* line 184, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog div.field-items h2, .not-front .node-case-of-study div.field-items h2 {
  margin-top: 10px;
  line-height: 1.2em;
}
/* line 189, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog p, .not-front .node-case-of-study p {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 194, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog ul.links a, .not-front .node-case-of-study ul.links a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #0f9386;
}
/* line 199, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog ul.links a:hover, .not-front .node-case-of-study ul.links a:hover {
  color: #df004a;
}
/* line 204, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog .field-name-field-blog-category, .not-front .node-case-of-study .field-name-field-blog-category {
  margin: 15px 0 15px 0;
}
/* line 206, ../sass/theme-auxis-inner-pages.scss */
.not-front .node-blog .field-name-field-blog-category a, .not-front .node-case-of-study .field-name-field-blog-category a {
  display: inline-block;
  margin-left: 15px;
  padding-top: 15px;
}
/* line 217, ../sass/theme-auxis-inner-pages.scss */
.not-front .field-type-video-embed-field {
  margin-top: 15px;
}
/* line 219, ../sass/theme-auxis-inner-pages.scss */
.not-front .field-type-video-embed-field iframe {
  width: 580px;
  height: 300px;
}
/* line 226, ../sass/theme-auxis-inner-pages.scss */
.not-front .region-content-tabs h2.block-title {
  display: none;
}
/* line 237, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col h2 {
  color: #FFFFFF;
}
/* line 241, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col ul {
  margin: 0px;
  padding: 5px;
  background-color: #666668;
  font-size: 80%;
}
/* line 246, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col ul li {
  padding: 5px 0 5px 0;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dotted #848485;
  color: #ffffff;
}
/* line 252, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col ul li a {
  display: inline;
  line-height: 1em;
}
/* line 256, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col ul li a:hover {
  text-decoration: none;
  color: #e8fcf2;
}
/* line 260, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col ul li .views-field-title {
  margin-bottom: 10px;
}
/* line 263, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col ul li .views-field-field-embedded-media {
  margin-top: 15px;
}
/* line 265, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col ul li .views-field-field-embedded-media iframe {
  width: 170px;
  height: 180px;
}
/* line 272, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col .more-link {
  margin-top: 15px;
}
/* line 274, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col .more-link a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 279, ../sass/theme-auxis-inner-pages.scss */
.not-front aside.right-col div.region-right-col .more-link a:hover {
  color: #e8fcf2;
}
/* line 287, ../sass/theme-auxis-inner-pages.scss */
.not-front .view-testimonials ul {
  list-style: none;
  padding: 0px;
}
/* line 290, ../sass/theme-auxis-inner-pages.scss */
.not-front .view-testimonials ul li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #848485;
}
/* line 294, ../sass/theme-auxis-inner-pages.scss */
.not-front .view-testimonials ul li .views-field-field-job-desc {
  color: #0f9386;
}
/* line 298, ../sass/theme-auxis-inner-pages.scss */
.not-front .view-testimonials ul li .testimonial span {
  display: inline-block;
  padding-top: 5px;
}
/* line 302, ../sass/theme-auxis-inner-pages.scss */
.not-front .view-testimonials ul li .testimonial div {
  margin-top: 15px;
  margin-left: 15px;
  border-left: 2px solid #0f9386;
  padding-left: 5px;
}
